torch==2.2.0
# torchvision==0.17.0
# torchmetrics
numpy==1.26.4
tqdm
ipykernel
matplotlib
pandas
wandb
# comet_ml
hydra-core

black
isort
pre-commit

# gdelt libs
# gdeltdoc
# gdelt 

# dspy
# dspy-ai
# transformers<=4.43.4
# datasets

# iteration through autocast
# ijson

# parsing links
newspaper3k
lxml_html_clean

# langchain tools
langchain
langgraph
pydantic

#openai tools
openai
langchain-openai

# crawl4ai
Crawl4AI

