torch==2.2.0
# torchvision==0.17.0
# torchmetrics
numpy==1.26.4
tqdm
ipykernel
matplotlib
pandas
# wandb
# comet_ml
# hydra-core

black
isort
pre-commit

# parsing links
newspaper3k
lxml_html_clean

# langchain tools
langchain
langgraph
pydantic
pydantic-settings

#openai tools
openai
langchain-openai

# crawl4ai
Crawl4AI

# env setup tools
python-dotenv
